// 项目提供的scss全局变量

//左侧的菜单的宽度
$base-menu-width: 320px;
//左侧菜单的背景颜色
$base-menu-background: #001529;
$base-menu-min-width: 70px;

// 顶部导航的高度
$base-tabbar-height: 60px;

//左侧菜单logo高度设置
$base-menu-logo-height: 60px;

//左侧菜单logo右侧文字大小
$base-logo-title-fontSize: 20px;
